package ${model.packageName}.model;

public class ${model.name} {

#foreach($field in $model.fields)
    #parse("common/Field.vm")
#end

#foreach($field in $model.fields)
    #parse("common/GetMethod.vm")
    #parse("common/SetMethod.vm")
#end
}
